body {
  background-color: powderblue;
  font-family: Monospace, Sans-serif;
}

a {
  color: black;
}

h1 {
  text-align: center;
}

.codeSnippet {
  padding: 25px;
  background-color: lightgrey;
  max-height: 200px;
  overflow: scroll;
}

span {
  background-color: lightgrey;
}

.notation {
  color: blue;
  font-weight: bold;
}

table, 
th, 
td {
  border: 1px solid black;
  border-collapse: collapse;
  text-align: center;
}